@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-jetbrains-mono), monospace;
  font-weight: 500;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fly-in-loop {
  0% {
    transform: var(--initial-transform);
    opacity: 0;
  }
  20% {
    transform: translate(0, 0);
    opacity: 1;
  }
  80% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: var(--initial-transform);
    opacity: 0;
  }
}

.animate-fly {
  animation: fly-in-loop 5s ease-in-out infinite;
}
